@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
        url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff'),
        url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Regular.eot');
    src: local('Unbounded Regular'), local('Unbounded-Regular'),
        url('../fonts/Unbounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Unbounded-Regular.woff') format('woff'),
        url('../fonts/Unbounded-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-SemiBold.eot');
    src: local('Unbounded SemiBold'), local('Unbounded-SemiBold'),
        url('../fonts/Unbounded-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Unbounded-SemiBold.woff') format('woff'),
        url('../fonts/Unbounded-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Bold.eot');
    src: local('Unbounded Bold'), local('Unbounded-Bold'),
        url('../fonts/Unbounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Unbounded-Bold.woff') format('woff'),
        url('../fonts/Unbounded-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}