.lll {
    height: 6rem;
    color: #1D4ED8;
    text-align: center;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
    letter-spacing: 0.16px;
    //padding: 1.2rem 1.6rem;
    border-radius: 0.6rem;
    border: 0.1rem dashed #1D4ED8;
    background: #BFDBFE;

}