extends layout/app

block page
    include chunk/header
    include chunk/main
    include chunk/footer
    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
    script(src="js/inputmask.min.js")
    script(src="js/main.js")