.header__nav {
    display: flex;
    width: 41.2rem;
    align-items: center;
    justify-content: space-between;
    color: #2563EB;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
}

@media (max-width: 48em) {
    .header__nav {
        display: none;
    }
}