.header__button {
    width: auto;
    color: #1D4ED8;
    text-align: center;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
    letter-spacing: 0.16px;
    padding: 1.2rem 1.6rem;
    margin: 2.4rem 0 2.4rem auto;
    border-radius: 0.6rem;
    border: 0.1rem dashed #1D4ED8;
    background: #BFDBFE;
}

/* @include for-desktop-xxxl {
    .header__button {
        width: auto;
    }
} */

@include for-desktop-xxl {
    .header__button {
        width: auto;
    }
}

@include for-laptop-desktop-xl {
    .header__button {
        width: auto;
    }
}

@include for-tablet-portrait-md {
    .header__button {
        width: auto;
    }
}

@include for-phone-landscape-sm {
    .header__button {
        width: auto;
    }
}