footer.footer.footer__bg
    .container
        h2.title2.footer__title Остались вопросы? 
    
        h3.title3.footer__subtitle <span>cвяжитесь с нами</span> и мы ответим на них

        .row.footer__blocks
            .col-4.col-lg-6.col-sm-12.footer__contacts
                .footer__contacts--wrap
                    .footer__contacts--icon 
                        img(src="img/footer_clock.png", alt="clock")

                    .footer__contacts--txts
                        h6 Режим работы: 

                        p Пн-Пт: 9:00 - 19:00

                .footer__contacts--wrap
                    .footer__contacts--icon
                        img(src="img/footer_phone.svg", alt="phone")

                    .footer__contacts--txts
                        h6 Телефон: 
                        
                        p + 7 (495) 204-41-44

                .footer__contacts--wrap
                    .footer__contacts--icon
                        img(src="img/footer_letter.png", alt="letter")

                    .footer__contacts--txts
                        h6 Почта: 

                        p info@tochkasept.ru

                .footer__down
                    .footer__contacts--wrap
                        .footer__contacts--icon

                        .footer__contacts--txts
                            h6 Соцсети:

                    .footer__icons
                        a(href="#")
                            img(src="img/tg.svg", alt="telegram")
                        
                        a(href="#")
                            img(src="img/wapp.svg", alt="whatsapp")
                        
                        a(href="#")
                            img(src="img/vk.svg", alt="vk")

            .col-4.footer__phone
                img(src="img/footer_phone-big.png", alt="звоните!")

            .col-4.col-lg-6.col-sm-12.footer__form
                form.footer__form--action(action="call", id='form', method="post")
                    h4.footer__title4 Закажите звонок!

                    h5.footer__title5 Мы перезвоним вам за&nbsp;5&nbsp;минут

                    p и проконсультируем вас по всем интересующим вопросам

                    input.footer__input(type="tel", name="phone", id="phone", placeholder="Номер телефона")
                    label(for="phone")

                    .footer__warning(id="warning") Введите корректный номер

                    button.button-small-f.footer__btn(type="submit")
                        .button-small-f__include
                            img(src="img/button-small.png", alt="button")
                            p.btn-name Заказать звонок
                            .button-small-f__drop-sdw
                
            .footer__decor
                img(src="img/footer_pipe.png", alt="pipe")
            

        .footer__info
            p ©2024 г. ООО «Точкасепт»
            p Информация на сайте не является публичной офертой

        .footer__corner
            img(src="img/verh.svg", alt="decor")


            
