section.content
    .container
        h1.content__title Heading
        .input
            label
                input(type="text" placeholder="Placeholder Text" class="content__input")
                span.content__arrow
                    img(src="img/arw2.svg", alt="Button Text")

        .content__image
            img(src="#", alt="#")
        h2 Привет!!!!!
        each item in news
            li= item.name