doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=yes")
        title Точкасепт. Бурение скважин и колодцев на воду под ключ в Москве и области!
        link(rel="stylesheet", href="css/main.min.css")
        style
            != "@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');"
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    body
        block page